# Ignore everything
*

!Cargo.toml
!Cargo.lock

!bin
!performance
!crates/texlang
!crates/texlang-stdlib
!crates/texcraft-stdext

# Playground Rust files
!playground/Cargo.toml
!playground/src

# Playground Javascript
!playground/ui/src
!playground/ui/static
!playground/ui/*.json
!playground/ui/.babelrc
!playground/ui/webpack.config.js

# Playground Go
!playground/go.mod
!playground/go.sum
!playground/*.go

!docs/book.toml
!docs/src/*
