# Ignore everything
*

!Cargo.toml
!Cargo.lock

!bin
!performance
!crates

# Playground Rust files
!sites/play.texcraft.dev/Cargo.toml
!sites/play.texcraft.dev/src

# Playground Javascript
!sites/play.texcraft.dev/ui/src
!sites/play.texcraft.dev/ui/static
!sites/play.texcraft.dev/ui/*.json
!sites/play.texcraft.dev/ui/.babelrc
!sites/play.texcraft.dev/ui/webpack.config.js

# Playground Go
!sites/play.texcraft.dev/go.mod
!sites/play.texcraft.dev/go.sum
!sites/play.texcraft.dev/*.go

!docs/book.toml
!docs/src/*

# hyphenate.dev site
!sites/hyphenate.dev/Caddyfile
!sites/hyphenate.dev/index.html
!sites/hyphenate.dev/hyphenate-wasm

# knuthplass.dev site
!sites/knuthplass.dev/Caddyfile
!sites/knuthplass.dev/index.html
!sites/knuthplass.dev/fonts
!sites/knuthplass.dev/knuthplass-wasm

# ligkern.dev site
!sites/ligkern.dev/Caddyfile
!sites/ligkern.dev/index.html
!sites/ligkern.dev/ligkern-wasm

