# Ignore everything
*

!Cargo.toml
!Cargo.lock
!benches
!crates/texlang-core
!crates/texlang-stdlib
!crates/texcraft-stdext

!crates/playground/Cargo.toml
!crates/playground/src

!crates/playground/ui/src
!crates/playground/ui/static
!crates/playground/ui/*.json
!crates/playground/ui/.babelrc
!crates/playground/ui/webpack.config.js

!crates/playground/go.mod
!crates/playground/go.sum
!crates/playground/*.go

!docs/config.toml
!docs/content/*
!docs/layouts/*
!docs/themes/*
